input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 4px;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.profile {
  margin: 10% 0%;
}
.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}
.panel {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 3em;
}
.head {
  color: maroon;
  font-size: 2em;
  font-weight: bold;
  margin: 0.3em;
}
.title {
  font-size: 1em;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.detail {
  text-align: justify;
}
.container-mg {
  margin: 3% 3%;
}
.view-img {
}
.button {
  margin-top: 5%;
}
